p { font-size: 0.75em;}

/*å©èoÇµ*/
text-typeA { font-size: 1.0em}
text-typeB { font-size: 0.8em;

}
text-typeC { font-size: 1.1em}
text-typeh2 { 
font-size: 1.5em;
color="#5f5f5f";
border-left: solid 0.8em #E3E4D9;
padding-left: 0.5em;
}

#page{
width: 70%;
margin: 0 auto;
}
