body {
  background: radial-gradient(#f0f8ff, #f5f5f5);
}

/* HEADER */
.header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
}

.sns {
  position: relative;
}
.sns button {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #444;
  background: initial;
  cursor: pointer;
}

.sns button:hover {
  background: #a8dbff;
}

.sns button:focus-within + .icons {
  display: block;
}

.sns:focus-within > .icons {
  display: block;
}

.icons {
  position: absolute;
  top: 60px;
  right: 0;
  background: white;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #428abd;
  display: none;
}

.icons a {
  margin: 2px 0;
  height: 48px;
}

.icons a:hover,
a:active {
  background: #a8dbff;
}

.sns-link {
  display: inline-block;
}

/* TOP */
.top {
  text-align: center;
  margin: 2rem 0;
}

.top h1 {
  font-size: 36px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.top p {
  font-size: 18px;
  margin: 0;
}

.author {
  font-size: 1rem;
}

.author a {
  display: inline-block;
  transition: 0.3s;
  -webkit-transform: scale(1);
  transform: scale(1);
  text-decoration: none;
}

.author a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.author-text {
  margin: 0 4px;
}

.top-img {
  display: flex;
  justify-content: center;
}

.top-img img {
  margin: 2rem 2px 0 2px;
}

/* ABSTRACT, DOWNLOAD */
.container {
  padding: 0 15%;
  margin: 4rem 0;
  text-align: left;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents picture {
  width: 80%;
  margin-top: 1rem;
}

.title {
  font-size: 1.5rem;
  color: #5f5f5f;
  border-left: solid 0.8rem #c0c0c0;
  padding-left: 1rem;
  margin: 0;
}

.text {
  margin-top: 1.8rem;
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-ideograph;
}

.downloads {
  margin-top: 2rem;
}

.download-content {
  margin-bottom: 1.5rem;
  display: flex;
}

.download-content p {
  margin: 0 0 0 1rem;
}

.download-link {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.supplementary-text {
  padding-top: 1rem;
  flex: 1;
}

#footer {
  height: 60px;
  font-size: 12px;
  color: #5f5f5f;
  text-align: center;
  border-top: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer p {
  margin: 2px 0;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0 2%;
  }
  .top {
    padding: 0 2%;
  }
  .top h1 {
    font-size: 26px;
    line-height: 1.3;
    text-align: left;
  }
  .top h1 span {
    display: block;
  }
  .top h1 br {
    display: none;
  }
  .top p {
    text-align: left;
  }
  .top-img {
    display: flex;
    justify-content: flex-start;
  }
  .author-text {
    margin-left: 0;
  }
  p.publication {
    font-size: 16px;
  }
  p.publication span {
    display: block;
  }
  .top-img img {
    width: 48%;
    height: 32.020253164556962%;
  }
  .container {
    padding: 0 2%;
  }
  .title {
    font-size: 1rem;
  }
  .text {
    margin-top: 1rem;
  }
  .contents picture {
    width: 100%;
    margin-top: 0;
  }
  .download-link {
    line-height: 1.2;
  }
  .download-link p {
    line-height: 1.2;
  }
  .information p:last-child {
    margin-top: 10px;
  }
  .supplementary-text {
    padding-top: 0.3rem;
    flex: 1;
  }
  p.author {
    font-size: 20px;
    text-align: left;

    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;
  }
  .author a:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }
}
