---
import { GoogleAnalytics } from 'astro-google-analytics';
import { SEO, Props as AstroSeoProps } from 'astro-seo';

import 'normalize.css';
import '../styles/utils.css';
import '../styles/reset.css';

export type Props = AstroSeoProps & {
  title: string;
  description: string;
};

const { title, description, ...seoProps }: Props = Astro.props;
---

<style lang="scss">
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // padding: 0 136px;
    // background: radial-gradient(#f0f8ff, #f5f5f5);
    color: var(--text-color-primary);
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  @media (prefers-color-scheme: dark) {
    html {
      // background-color: #000;
      // color: #fff;
      color-scheme: light;
    }
  }
</style>

<html lang="en">
  <head>
    <GoogleAnalytics id="G-TC1W8426W1" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <SEO {...seoProps} />
  </head>
  <body>
    <slot />
  </body>
</html>
