---
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import Content from "../components/Content.astro";
import DownloadContent from "../components/DownloadContent.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HeroHeader from "../components/HeroHeader.astro";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");
---

<style lang="scss">
  main {
    width: var(--view-width);
    letter-spacing: 0.1rem;

    @media screen and (max-width: 840px) {
      width: 100%;
    }
  }

  .abstract-text {
    margin-bottom: 2rem;
    text-align: justify;
    p{
      hyphens: auto;
    }
    p:not(:first-child) {
      text-indent: 1.5rem;
    }

    @media screen and (max-width: 840px) {
      padding: 0 1rem;
    }
  }

  .abstract-imageWrap {
    width: 100%;

    @media screen and (max-width: 840px) {
      overflow-x: scroll;
    }
  }

  .abstract-image {
      background: #FFF;
      border-radius: 14px;

      @media (prefers-color-scheme: dark) {
        filter: brightness(90%);
      }
    @media screen and (max-width: 840px) {
      margin: 0 1rem;
      width: 760px;
      min-width: 760px;
    }
  }

  .downloads {
    @media screen and (max-width: 840px) {
      padding: 0 1rem;
    }
  }
</style>

<Layout title={t('site.title')} description={t('site.description')}>
  <Header />
  <main>
    <HeroHeader />
    <Content title={t('abstract.title')}>
      <Trans i18nKey="abstract.description">
        <section class="abstract-text">
          <p>Absorption and scattering of light in an underwater scene saliently attenuate red spectrum components. They cause heavy color distortions in the captured underwater images. </p>
          <p>In this letter, we propose a method for color-correcting underwater images, utilizing a framework of gray information estimation for color constancy. The key novelty of our method is to utilize exposure-bracketing imaging: a technique to capture multiple images with different exposure times for color correction.</p>
          <p>The long exposure image is useful for sufficiently acquiring red spectrum information of underwater scenes. In contrast, pixel values in the green and blue channels in the short-exposure image are suitable because they are unlikely to attenuate more than the red ones. By selecting appropriate images (i.e., least over- and under-exposed images) for each color channel from those taken with exposure bracketing imaging, we fuse an image that includes sufficient spectral information of underwater scenes. The fused image allows us to extract reliable gray information of scenes; thus, effective color corrections can be achieved. We perform color correction by linear regression of gray information estimated from the fused image. </p>
          <p>Experiments using real underwater images demonstrate the effectiveness of our method.</p>
        </section>
      </Trans>
      <div class="abstract-imageWrap">
        <img
          loading="lazy"
          src="/method.webp"
          alt={t('abstract.alt')}
          width="760"
          height="286"
          class="abstract-image"
          decoding="async"
        />
      </div>
    </Content>
    <Content title={t('download.title')}>
      <div class="downloads">
        <DownloadContent
          imgSrc="/paper.webp"
          title={t('download.paper.title')}
          links={[
            {
              text: t('download.paper.links.first'),
              url: '/Underwater_Image_Color_Correction_using_exposure-bracketing_imaging.pdf',
            },
            {
              text: t('download.paper.links.second'),
              url: '/LOW_Underwater_Image_Color_Correction_using_exposure-bracketing_imaging.pdf',
            },
          ]}
          description={[
            t('download.paper.description.first'),
          ]}
        />
        <DownloadContent
          imgSrc="/supplementaryMaterial.webp"
          title={t('download.supplementary.title')}
          links={[
            {
              text: t('download.supplementary.links.first'),
              url: '/supplemental_material.pdf',
            },
            {
              text: t('download.supplementary.links.second'),
              url: '/LOW_supplemental_material.pdf',
            },
          ]}
          description={[t('download.supplementary.description.first')]}
        />
        <DownloadContent
          imgSrc="/dataset.webp"
          title={t('download.dataset.title')}
          links={[
            {
              text: t('download.dataset.links.first'),
              url: 'https://www.dropbox.com/s/rqr0nd4sb4t7p5t/PgmUnderwaterImageFiles.zip?dl=0',
            },
            {
              text: t('download.dataset.links.second'),
              url: 'https://www.dropbox.com/s/xiunv0bbl4f5c0p/BmpResizeUnderwaterImageFiles.zip?dl=0',
            },
          ]}
          description={[t('download.dataset.description.first')]}
        />
        <DownloadContent
          imgSrc="/quote.webp"
          title={t('download.citation.title')}
          links={[
            {
              text: t('download.citation.links.first'),
              url: '/UnderwaterImageColorCorrection.bib',
            },
          ]}
          description={[t('download.citation.description.first')]}
        />
      </div>
    </Content>
  </main>
  <Footer />
</Layout>
