---
const { title } = Astro.props;
---

<style lang="scss">
  .container {
    margin: 5rem 0 10rem;
    text-align: left;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    margin-bottom: 2rem;
    font-size: var(--text-larger);
    color: var(--text-color-secondary);

    @media screen and (max-width: 840px) {
      padding: 0 1rem;
    }
  }
</style>

<section class="container">
  <h2 class="title">{title}</h2>
  <slot />
</section>
