<footer>
  <p>Copyright&copy; 2018 - 2023 KoheiNomura All Rights Reserved.</p>
  <p>Last updated: January 23, 2023</p>
</footer>

<style>
  footer {
    width: 100%;
    padding: 1rem 0;
    font-size: var(--text-small);
    color: var(--text-color-primary-invert);
    text-align: center;
    background: var(--text-color-primary);
  }
</style>
