<header class="header">
  <div>English | <a href="./jp/lan-jp.html">日本語</a></div>
</header>

<style>
  /* HEADER */
  .header {
    display: flex;
    align-items: center;
    width: 760px;
    margin: 2rem 0;
  }
</style>
