---
import i18next from 'i18next';
---

<header>
  <>
    {
      i18next.language === 'en' ? (
        <div>
          English | <a href="/underwater-image-enhancement.github.io/ja/">日本語</a>
        </div>
      ) : (
        <div>
          <a href="/underwater-image-enhancement.github.io/">English</a> | 日本語
        </div>
      )
    }
  </>
</header>

<style lang="scss">
  /* HEADER */
  header {
    display: flex;
    align-items: center;
    width: 760px;
    height: 56px;
    padding: 1rem 0;
    box-sizing: border-box;

    @media screen and (max-width: 840px) {
      width: 100%;
      padding: 1rem;
    }
  }
</style>
