---
import { GoogleAnalytics } from 'astro-google-analytics';
import { SEO, Props as AstroSeoProps } from 'astro-seo';
import i18next from 'i18next';

import 'normalize.css';
import '../styles/utils.css';
import '../styles/reset.css';

export type Props = AstroSeoProps & {
  title: string;
  description: string;
};

const { title, description, ...seoProps }: Props = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <GoogleAnalytics id="G-TC1W8426W1" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/underwater-image-enhancement.github.io/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <SEO {...seoProps} canonical="https://nomurakohei.github.io/underwater-image-enhancement.github.io/" />
  </head>
  <body>
    <slot />
    <style lang="scss">
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: linear-gradient(0deg, #ffffff, transparent), radial-gradient(#ffffff, #eef2ff, #9caae1);
        background-repeat: no-repeat;
        color: var(--text-color-primary);
        font-family: system-ui, sans-serif;
        -webkit-font-smoothing: antialiased;
      }
      @media (prefers-color-scheme: dark) {
        html {
          background: #202124;
        }
        body {
          background: linear-gradient(0deg, #202124, transparent), radial-gradient(#202124, #30374d, #4e5985);
          background-repeat: no-repeat;
        }
      }
    </style>
  </body>
</html>
